<div class="row">

    <div class="col-sm-6"  *ngIf="produtoSelecionado">
        <app-titulo [titulo]="produtoSelecionado.id == 0 ? 'Novo Produto' : 'Cód. Produto: ' + produtoSelecionado.id" >
            <button class="btn btn-sm btn-warning" (click)="voltar()">
                Fechar
            </button>
        </app-titulo>    
    
        <form [formGroup]="produtoForm" (submit)="produtoSubmit()">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Nome</label>
                <input type="text" class="form-control" formControlName="nome">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Preço</label>
                <input type="text" class="form-control" formControlName="preco">
            </div> 
            <div class="mb-3">
                <button class="btn btn-success" [disabled]="!produtoForm.valid">Salvar</button>
            </div>
        </form> 
    </div>

    <div [ngClass]="{'col-sm-6': produtoSelecionado, 'col-sm-12': !produtoSelecionado}">
        <app-titulo [titulo]="titulo" >
            <button class="btn btn-success" (click)="produtoCadastro()">
                Cadastrar Produto
            </button>
        </app-titulo>
        
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">preco</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produto of produtos" style="cursor: pointer;">
                <th scope="row">{{produto.id}}</th>
                <td>{{produto.nome}}</td>
                <td>{{produto.preco}}</td>
                <td>
                    <div class="btn-group">
                        <button (click)="produtoSelect(produto)" class="btn btn-sm btn-outline-primary">Editar</button>
                        <button class="btn btn-sm btn-outline-danger" (click)="deletar(produto.id)">Deletar</button>
                    </div>
                </td>
              </tr>
        </table>
    </div>

</div>

